

.circleBaseVisible 
{
    display: block !important;
}

.circleBaseInvisible {
    display: none;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    background: rgb(66, 133, 244);
    border: none;
    text-align: center;
    font-family: Roboto,sans-serif;
    margin-left: auto;
    margin-right: auto;
}



body 
{
    font: 12px Arial;
}

#dropZone 
{
    display:block;
    position: relative;
    
    width: 400px;
    height: 70px;

    margin: 50px auto;
    padding: 50px 0;

    background-color: #eee;
    /* border: 2px solid #ccc; */
    border: dashed 3px #C1C3C5;
    border-radius: 5px;
    
    
    text-align: center;
    font-size: 18px;
    color: #555;


    background-image: url(graycloud.svg) !important; 
    background-color: #e6eaef;
    background-size: 100px; 
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 15px;
}

#dropZone.hover 
{
    border-color: #aaa;
    background-color: #ddd;
}

#dropZone.error
{
    border-color: #f00;
    background-color: #faa;
}


.dropZoneText
{
    position: absolute;
    left: 0px;
    right: 0px; 
    bottom: 30px;

    font-family: 'Source Sans Pro', sans-serif;
    font-size: 32px;
    font-weight: 600;
    color: #b1b3b7;
}
