<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  
  <system.web>
    <!-- Set the maximum request size to 1GB (the value is in KB here) -->
    <httpRuntime executionTimeout="3600" maxRequestLength="1048576" appRequestQueueLimit="100" requestLengthDiskThreshold="10024000"/>
    <compilation debug="true"/>
  </system.web>
  
  <system.webServer>
    <security>
      <requestFiltering>
        <!-- Set the maximum request size to 1GB (the value is in Bytes here) -->
        <requestLimits maxAllowedContentLength="1073741824"/>
      </requestFiltering>
    </security>
  </system.webServer>
  
</configuration>
